<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成功</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/blog.js"></script>
</head>

<body>
<div id="OK">
    <!-- 背景图片 -->
    <img src="/static/imgs/b.jpg" alt="">
    <div class="log">
        {{ msg }}
        <a href="/blog/login">登录</a>
    </div>
</div>
</body>

</html>