<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/blog.js"></script>
</head>

<body>
    <form action="/blog/regist" onsubmit="" method="post">
        <div id="regist">
            <!-- 背景图片 -->
            <img src="/static/imgs/b.jpg" alt="">
            <div class="log">
                <div class="title">
                    <h3>Regist!</h3>
                </div>
                <div class="tip">
                    Regist
                </div>
                <div class="item">
                    用户:<input type="text" name="username" id="username" placeholder="Username"
                              value="{{ request.session.user.username }}">
                </div>
                <div class="error">
                    用户名不能为空!
                </div>
                <div class="error_msg">
                    {{ user_error }}
                </div>
                <div class="item">
                    密码:<input type="password" name="password1" id="password1" placeholder="Password">
                </div>
                <div class="error">
                    密码不能为空!
                </div>
                <div class="error_msg">
                    {{ password1_error }}
                </div>
                <div class="item">
                    密码:<input type="password" name="password2" id="password2" placeholder="Password Again">
                </div>
                <div class="error">
                    密码不能为空!
                </div>
                <div class="error_msg">
                    {{ password2_error }}
                </div>
                <div class="btn">
                    <input type="submit" value="Regist">
                </div>
            </div>
        </div>
    </form>
</body>

</html>